.jack {
  border: 2px;
background-color: cyan;
  text-align: justify;
  border-radius: 5px;
  padding-left: 8%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-size: 25px;

}
.jack h3{
    color: rgb(255, 0, 0);
    text-align: center;

}

#hh{
    text-align: center;
    color: darkslategrey;
}
