.jack {
  border: 2px;
  background-color: rgb(165, 153, 42);
  text-align: justify;
  border-radius: 5px;
  padding-left: 8%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-size: 25px;

}
.jack h3{
    color: chartreuse;
    text-align: center;

}

